@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: radial-gradient(
    circle at center,
    #fdb770,
    #ff7d0082,
    #cccccc99,
    rgb(206 206 206)
  );
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-table.css-dev-only-do-not-override-ccdg5a {
  background: rgba(255, 255, 255, 0.2);
}

.ant-table-container .ant-table-content .ant-table-thead .ant-table-cell {
  background: rgba(0, 0, 0);
}

.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(
    .ant-table-row-selected
  )
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(
    .ant-table-row-selected
  )
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: rgb(0, 0, 0, 0.1);
}

:where(.css-dev-only-do-not-override-vryruh).ant-table-wrapper .ant-table {
  background: rgba(255, 255, 255, 0.2) !important;
}

:where(.css-vryruh).ant-table-wrapper .ant-table {
  background: transparent;
}

:where(.css-dev-only-do-not-override-vryruh).ant-input-outlined{
  background: rgba(255, 255, 255, 0.2) !important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-btn-variant-outlined, :where(.css-dev-only-do-not-override-vryruh).ant-btn-variant-dashed{
  background: rgba(255, 255, 255, 0.2) !important;
}

:where(.css-vryruh).ant-input-outlined{
  background: rgba(255, 255, 255, 0.2) !important;
}

:where(.css-vryruh).ant-table-wrapper .ant-table{
  background: rgba(255, 255, 255, 0.2) !important;
}

:where(.css-vryruh).ant-btn-variant-outlined, :where(.css-vryruh).ant-btn-variant-dashed{
  background: rgba(255, 255, 255, 0.2) !important;
}